<%= form_with(model: nutrient) do |form| %>
  <% if nutrient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nutrient.errors.count, "error") %> prohibited this nutrient from being saved:</h2>

      <ul>
        <% nutrient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id %>
    <%= form.id %>
  </div>
  
  <div>
    <%= form.label :id %>
    <%= form.id %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "wide" %>
  </div>

  <div>
    <%= form.label :usda_nutrient_id %>
    <%= form.text_field :usda_nutrient_id %>
  </div>

  <div>
    <%= form.label :usda_nutrient_num %>
    <%= form.text_field :usda_nutrient_num %>
  </div>

  <div>
    <%= form.label :unit_code %>
    <select name="nutrient[unit_code]" class="wide">
      <option value=""></option>
      <% LookupTable::VALID_UNIT_CODES.each do |k, v| %>
        <option value="<%= k %>" <%= (k == nutrient.unit_code) ? "  selected=selected" : "" %>>
          <%= k %> - <%= v %>
        </option>
      <% end %>
    </select>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
