<div id="nutrient_id_<%= @nutrient.id %>" class="view_page">
  <p>
    <strong>Id:</strong>
    <%= @nutrient.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @nutrient.name %>
  </p>
  <p>
    <strong>USDA Id:</strong>
    <%= @nutrient.usda_nutrient_id %>
  </p>
  <p>
    <strong>USDA Nbr:</strong>
    <%= @nutrient.usda_nutrient_num %>
  </p>
  <p>
    <strong>Unit Code:</strong>
    <%= @nutrient.unit_code %>
  </p>
</div>