<div id="<%= dom_id nutrient %>">
  <p>
    <strong>Id:</strong>
    <%= nutrient.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= nutrient.name %>
  </p>

  <p>
    <strong>Usda ndb num:</strong>
    <%= nutrient.usda_ndb_num %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= nutrient.desc %>
  </p>

</div>
