<tr id="nutrient_id_<%= nutrient.id %>">
  <td><%= nutrient.id %></td>
  <td><%= nutrient.usda_nutrient_id %></td>
  <td><%= nutrient.usda_nutrient_num %></td>
  <td><%= nutrient.name %></td>
  <td><%= nutrient.unit_code %></td>
  <td>
    <% if nutrient.active == true %>
      <a href="/nutrients/<%= nutrient.id %>/edit">Edit</a>
      <a href="/nutrients/<%=nutrient.id%>" data-turbo-method="delete">Deactivate</a>
    <% else %>
      <a href="/nutrients/<%= nutrient.id %>/edit" class="inactiveLink">Edit</a>
      <a href="/nutrients/<%=nutrient.id%>/reactivate">Reactivate</a>
    <% end %>
  </td>
</tr>
