<tr id="<%= dom_id nutrient %>">
  <td><%= nutrient.id %></td>
  <td><%= nutrient.name %></td>
  <td><%= nutrient.usda_ndb_num %></td>
  <td><%= nutrient.desc %></td>
  <td>
    <a href='#'>View</a>
    <a href='#'>Download</a>
    <a href='#'>Edit</a>
  </td>
</tr>
