<% content_for :title, "Edit Nutrient: #{@nutrient.present? ? @nutrient.name : ''}" %>
<% content_for :header, "Edit Nutrient: #{@nutrient.present? ? @nutrient.name : ''}" %>


<%= render "nutrients/form", nutrient: @nutrient %>

<br>

<ul>
  <li><a href="/nutrients/new">New Nutrient</a></li>
  <% if @nutrient.active == true %>
    <li><a href="/nutrients/<%= @nutrient.id %>">View Nutrient</a></li>
    <li><a href="/nutrients/<%= @nutrient.id%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Deactivate nutrient</a></li>
  <% else %>
    <li><a href="/nutrients/<%= @nutrient.id %>/edit" class="inactiveLink">Edit</a></li>
    <li><a href="/nutrients/<%= @nutrient.id%>/reactivate">Reactivate</a></li>
  <% end %>
</ul>
