<% content_for :title, 'Edit Nutrient Page' %>
<% content_for :header, "Edit Nutrient Page" %>
<% content_for :subheader, "#{@nutrient.present? ? 'for nutrient: '+@nutrient.name : ''}" %>


<%= render "nutrients/form", nutrient: @nutrient %>

<br>

<ul>
  <li><a href="/nutrients/new">New Nutrient</a></li>
  <li><a href="/nutrients/<%= @nutrient.id %>">View this nutrient</a></li>
  <li><a href="/nutrients/<%=@nutrient.id%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Deactivate this nutrient</a></li>
</ul>
    <% if @nutrient.active == true %>
      <a href="/nutrients/<%= @nutrient.id %>/edit">Edit</a>
      <a href="/nutrients/<%= @nutrient.id%>" data-turbo-method="delete">Deactivate</a>
    <% else %>
      <a href="/nutrients/<%= @nutrient.id %>/edit" class="inactiveLink">Edit</a>
      <a href="/nutrients/<%= @nutrient.id%>/reactivate">Reactivate</a>
    <% end %>
