<div id="food_nutrient_id_<%= food_nutrient.id %>">
  <p>
    <strong>Id:</strong>
    <%= food_nutrient.id %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= food_nutrient.food.name %>
  </p>

  <p>
    <strong>Nutrient:</strong>
    <%= food_nutrient.nutrient.name %>
  </p>

  <p>
    <strong>Portion:</strong>
    <%= food_nutrient.portion %> <%= food_nutrient.portion_unit %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= food_nutrient.amount %> <%= food_nutrient.amount_unit %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= food_nutrient.desc %>
  </p>

</div>
