<%= form_with(model: food_nutrient) do |form| %>

  <div>
    <input type='hidden' id="food_nutrient_food_id" name="food_nutrient[food_id]" value="<%= @food.id %>"/>
    <%= form.label :nutrient_id %>
    <%
      nutrient_options = []
      @unused_nutrients.each do |nut|
        nutrient_options << [nut.name, nut.id]
      end
    %>
    <%
      if food_nutrient.blank? || food_nutrient.id.blank?
        # display the food nutrient select element when creating a nutrient for a food_nutrient
    %>
      <%= form.select :nutrient_id, nutrient_options %>
    <%
      else
        # This is a previously created food_nutrient, so the nutrient doesn't change - display it, no select.
        # Display the nutrient id as a hidden input field, so it is used for the update (consider dropping this)
        # Simply display the nutrient name (with an ID for testing)
    %>
        <input type='hidden' id="food_nutrient_nutrient_id" value="<%= food_nutrient.nutrient.id %>">
        <span id="food_nutrient_nutrient_name"><%= food_nutrient.nutrient.name %></span>
    <% end %>
  </div>

  <div>
    <%= form.label :portion %>
    <%= form.text_field :portion %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
