<%= form_with(model: food_nutrient) do |form| %>

  <div>
    <input type='hidden' id="food_nutrient[food_id]" name="food_nutrient[food_id]" value="<%= @food.id %>"/>
    <%= form.label :nutrient_id %>
    <%
      nutrient_options = []
      @unused_nutrients.each do |nut|
        nutrient_options << [nut.name, nut.id]
      end
    %>
    <% if food_nutrient.blank? || food_nutrient.id.blank? %>
      <%= form.select :nutrient_id, nutrient_options %>
    <% else %>
      <%= form.select :nutrient_id, nutrient_options, {}, {:disabled => true} %>
    <% end %>
  </div>

  <div>
    <%= form.label :portion %>
    <%= form.text_field :portion %>
    <%= form.text_field :portion_unit, style: 'width: 30px' %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.text_field :amount %>
    <%= form.text_field :amount_unit, style: 'width: 30px' %>
  </div>

  <div>
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
