<%
  content_for :title, 'Food Nutrient Edit Page'
  content_for :header, 'Food Nutrient Edit Page'
  content_for :subheader, "#{@food_nutrient.present? ? "for food: #{@food_nutrient.food.name}" : ''}"
  content_for :subheader2, "#{@food_nutrient.present? ? "and nutrient: #{@food_nutrient.nutrient.name}" : ''}"
%>

<%= render partial: "form", locals: {food_nutrient: @food_nutrient, food: @food} %>

<br>

<div>
<ul>
  <li><a href="/food_nutrients/new?food_id=<%= @food.id %>">New nutrient for <%= @food.name %></a></li>
  <li><a href="/food_nutrients/<%= @food.id %>">View this nutrient for <%= @food.name %></a></li>
  <li><a href="/food_nutrients/<%=@food_nutrient.id%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Delete this nutrient</a></li>
</ul>
