<%
  @title = "Food Nutrients Listing"
  content_for(:title, @title)
%>
<p style="color: green"><%= notice %></p>

<h1><%= @title %></h1>

<div id="food_nutrients">
  <% @food_nutrients.each do |food_nutrient| %>
    <%= render food_nutrient %>
    <p>
      <%= link_to "Show this food nutrient", food_nutrient %>
    </p>
  <% end %>
</div>

<%= link_to "New food nutrient", new_food_nutrient_path %>
<ul>
<li><a href='/foods'>Foods Listing</a></li>
<li><a href="/">Home</a></li>
<li><a href='/signout'>Sign Out</a></li>
</ul>
