<% content_for :title, 'Nutrients of Food Listing' %>
<% content_for :header, 'Nutrients of Food Listing' %>
<% content_for :subheader, "#{@food.present? ? 'for food: '+@food.name : ''}" %>

<div id='filterButtons'>
  <ul class="inlineListButtons">
    <li><span>Filter:</span></li>
    <% if @showing_active == 'deact' %>
      <li><a id="food_nutrients_all_link" href="/nutrients_of_food/<%= @food.id %>?showing_active=all">All</a></li>
      <li><a id="food_nutrients_deact_link" class="selectedLink" href="#">Deactivated</a></li>
      <li><a id="food_nutrients_active_link" href="/nutrients_of_food/<%= @food.id %>?showing_active=active">Active</a></li>
    <% elsif @showing_active == 'all' %>
      <li><a id="food_nutrients_all_link"  class="selectedLink" href="#">All</a></li>
      <li><a id="food_nutrients_deact_link" href="/nutrients_of_food/<%= @food.id %>?showing_active=deact">Deactivated</a></li>
      <li><a id="food_nutrients_active_link" href="/nutrients_of_food/<%= @food.id %>?showing_active=active">Active</a></li>
    <% else %>
      <li><a id="food_nutrients_all_link" href="/nutrients_of_food/<%= @food.id %>?showing_active=all">All</a></li>
      <li><a id="food_nutrients_deact_link" href="/nutrients_of_food/<%= @food.id %>?showing_active=deact">Deactivated</a></li>
      <li><a id="food_nutrients_active_link" class="selectedLink" href="#">Active</a></li>
    <% end %>
  </ul>
</div>

<div id="food_nutrients">
  <table>
    <tr>
      <th>ID</th>
      <th>Nutrient</th>
      <th>Food</th>
      <th>Study<br>/ Actual</th>
      <th>Portion</th>
      <th>Nutrient</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% @food_nutrients.each do |fn| %>
      <tr>
        <td><%= fn.id %></td>
        <td><%= fn.nutrient_id %> - <%= fn.nutrient.name if fn.nutrient_id.present? %></td>
        <td><%= fn.food_id %> - <%= fn.food.name if fn.food_id.present? %></td>
        <td><%= fn.study %>  <%= fn.study_weight %></td>
        <td><%= fn.portion %> <%= fn.portion_unit %></td>
        <td><%= fn.amount %> <%= fn.amount_unit %></td>
        <td><%= fn.desc %></td>
        <td>
          <% if fn.active == true %>
            <a href="/food_nutrients/<%= fn.id %>/edit">Edit</a>
            <a href="/food_nutrients/<%=fn.id%>" data-turbo-method="delete">Deactivate</a>
          <% else %>
            <a href="/food_nutrients/<%= fn.id %>/edit" class="inactiveLink">Edit</a>
            <a href="/food_nutrients/<%=fn.id%>/reactivate">Reactivate</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<ul>
<li><%= link_to "New food nutrient", "/food_nutrients/new?food_id=#{@food.id}" %></li>
</ul>
