<% content_for :title, 'Food Nutrient Show Page' %>
<% content_for :header, 'Food Nutrient Show Page' %>
<% content_for :subheader, "#{@food_nutrient.present? ? 'for food nutrient: '+@food_nutrient.nutrient.name : ''}" %>

<%= render 'food_nutrient', food_nutrient: @food_nutrient %>

<div>
  <%= link_to "Edit this food nutrient", edit_food_nutrient_path(@food_nutrient) %> |
  <%= link_to "Back to food nutrients", food_nutrients_path %>


</div>
<ul>
<li><a href="/nutrients_of_food/<%= @food.id %>"><%= @food.name %> Nutrients Listing</a></li>
<li><a href="/food_nutrients/new?food_id=<%= @food.id %>">New nutrient for <%= @food.name %></a></li>
<li><a href="/food_nutrients/new?food_id=<%= @food.id %>">Delete this nutrient for <%= @food.name %></a></li>
<li><a href='/foods'>Foods Listing</a></li>
<li><a href="/">Home</a></li>
<li><a href='/signout'>Sign Out</a></li>
</ul>
