<tr id="<%= dom_id food %>">
  <td><%= food.id %></td>
  <td><%= food.name %></td>
  <td><%= food.usda_fdc_id %></td>
  <td><%= food.desc %></td>
  <td>
    <a href="/nutrients_of_food/<%= food.id %>">Nutrients</a>
    <a href="/foods/<%=food.id%>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">Delete</a>
  </td>
</tr>
