<div id="food_id_<%= food.id %>">
  <p>
    <strong>Id:</strong>
    <%= food.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>
  <p>
    <strong>USDA FDC ID:</strong>
    <%= food.usda_fdc_id %>
  </p>
  <p>
    <strong>Desc:</strong>
    <%= food.desc %>
  </p>
</div>
