<% content_for :title, 'Foods Listing' %>
<% content_for :header, "Foods Listing" %>

<div id='filterButtons' class="center">
  <ul class="inlineListButtons">
    <li><span>Filter:</span></li>
    <% if @showing_active == 'deact' %>
      <li><a id="foods_all_link" href="/foods?showing_active=all">All</a></li>
      <li><a id="foods_deact_link" class="selectedLink" href="#">Deactivated</a></li>
      <li><a id="foods_active_link" href="/foods?showing_active=active">Active</a></li>
    <% elsif @showing_active == 'all' %>
      <li><a id="foods_all_link"  class="selectedLink" href="#">All</a></li>
      <li><a id="foods_deact_link" href="/foods?showing_active=deact">Deactivated</a></li>
      <li><a id="foods_active_link" href="/foods?showing_active=active">Active</a></li>
    <% else %>
      <li><a id="foods_all_link" href="/foods?showing_active=all">All</a></li>
      <li><a id="foods_deact_link" href="/foods?showing_active=deact">Deactivated</a></li>
      <li><a id="foods_active_link" class="selectedLink" href="#">Active</a></li>
    <% end %>
  </ul>
</div>

<div id="foods">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th class="pct40">Name</th>
        <th class="pct20">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr id="food_id_<%= food.id %>">
          <td><%= food.id %></td>
          <td class="pct40"><%= food.name %></td>
          <td class="pct20">
            <% if food.active == true %>
              <a href="/foods/<%= food.id %>">View</a>
              <a href="/foods/<%= food.id %>/edit">Edit</a>
              <a href="/foods/<%=food.id%>" data-turbo-method="delete">Deactivate</a>
            <% else %>
              <a href="/foods/<%= food.id %>/edit" class="inactiveLink">Edit</a>
              <a href="/foods/<%=food.id%>/reactivate">Reactivate</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<ul>
  <li><a href="/foods/new">New Food</a></li>
</ul>
