<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Food Nutrients" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class="center">Food Nutrients Dietary Assistant</h1>
    <div class="center">
      <ul class="inlineListButtons">
        <% if @food.present? && @food.id.present? %>
          <li><a href="/nutrients_of_food/<%= @food.id %>">
            <%= @food.name.present? ? @food.name.truncate(25).titleize : "Food" %> Nutrients
            </a></li>
        <% else %>
          <li><a id="food_nutrients_link" class="inactiveLink" href="#">Food Nutrients</a></li>
        <% end %>
        <li><a href='/foods'>Foods Listing</a></li>
        <li><a href='/nutrients'>Nutrients Listing</a></li>
        <li><a href="/">Home</a></li>
        <li><a href='/signout'>Sign Out</a></li>
      </ul>
    </div>

    <h2>
      <%= content_for?(:header) ? yield(:header) : "Glycemic" %>
      <% if content_for?(:subheader) %>
        <br/><%= yield(:subheader) %>
        <% if content_for?(:subheader2) %>
          <br/><%= yield(:subheader2) %>
        <% end %>
      <% end %>
    </h2>
    <% if flash[:notice].present? %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert].present? %>
      <p style="color: red"><%= flash[:alert] %></p>
    <% end %>
    <% if @errors.any? %>
      <p style="color: red"><%= pluralize(@errors.count, "error") %> prohibited this food_nutrient from being saved:</p>
      <% @errors.each do |error| %>
        <p style="color: red"><%= error %></p>
      <% end %>
    <% end %>


    <%= yield %>
  </body>
</html>
